<section class="container" ng-controller="UploadOrderCtrl">
    <h1>Please Complete Your Order</h1>

    <div ng-if="errorMessage">{{errorMessage}}</div>
    <div ng-if="successMessage">{{successMessage}}</div>

    <form name="orderForm" role="form" ng-submit="submitOrder(orderForm.$valid)">
        <div class="form-group">
            <label for="orderName">Name:</label>
            <input id="orderName" type="text" required ng-model="orderName"/>
        </div>

        <div class="form-group">
            <label for="termsAndConditions">Please accept terms and conditions</label>
            <input id="termsAndConditions" type="checkbox"/>
        </div>

        <div class="form-group">
            <button type="submit">Submit Order</button>
        </div>
    </form>
</section>