<div class="container" ng-controller="UploadVideoCtrl">
    <h1>Upload Video</h1>

    <div class="alert alert-danger" ng-if="errorMessage">{{errorMessage}}</div>

    <form name="videoForm" role="form" ng-submit="submitVideo(videoForm.$valid)">
        <div class="form-group">
            <label for="videoName">Name:</label>
            <input id="videoName" type="text" ng-model="videoName" required/>
        </div>

        <div class="form-group">
            <input id="videoFile" type="file" required/>
            <button type="submit">Submit Video</button>
        </div>
    </form>
</div>